-e git+https://github.com/cooperhewitt/py-cooperhewitt-api@ae5b1160eb8e00b2fe3c4200585788474f1b1065#egg=cooperhewitt.api-master
Flask==0.10.1
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
requests==2.7.0
Werkzeug==0.10.4
wheel==0.24.0
