{% extends "base.html" %}
{% block content %}

		<div class="content intro">
			<header class="vh">
				<h3>{{rsp2.exhibition.title}}</h3>
				<h3>{{rsp2.exhibition.url}}</h3>
			</header>
			<a href="/" class="button">← Back to Exhibitions</a>
			<h1 class="title"><a href="{{rsp2.exhibition.url}}">{{rsp2.exhibition.title}}</a></h1>
			<p class="vh">{{rsp2.exhibition.text}}</p>
		</div>

		{% for item in data %}
		<div class="content label">
			<header class="vh">
				<h3>{{rsp2.exhibition.title}}</h3>
				<h3>{{item.url}}</h3>
			</header>
			<div class="col-1-3">
			{% if item.images %}
				<img src="{{item.images[0].z.url}}">		
			{% else %}
				<img src="{{ url_for('static', filename = 'placeholder-small.png') }}">
			{% endif %}
			
			{% if item.locationinfo.on_display == '1' %}			
				<h3>{{item.locationinfo.location}}</h3>						
			{% endif %}

			</div><div class="col-2-3">
				<div class="section">
				{% if item.title_raw %}
					<h1><a href="{{item.url}}">{{item.title_raw}}</a></h1>
				{% else %}	
					<h1><a href="{{item.url}}">{{item.title}}</a></h1>
				{% endif %}	
				{% if item.date %}
					<h2>{{item.date}}</h2>
				{% endif %}					
				</div>
				<div class="section">
					<ul class="info">				
					{% if item.participants %}
						{% for item2 in item.participants %}
							{% if item2.role_name == 'Designer' %}
								<li>Designed by {{item2.person_name}}</li>
							{% endif %}
							{% if item2.role_name == 'Manufacturer' %}
								<li>Manufactured by {{item2.person_name}}</li>
							{% endif %}
						{% endfor %}
					{% endif %}	
	
					{% if item.medium %}
						<li>{{item.medium}}</li>
					{% endif %}					
					
					{% if item.creditline %}
						<li>{{item.creditline}}</li>
					{% endif %}
					</ul>
				</div>
				
				{% if item.tags %}
				<div class="section">			
					<ul class="tags">
						{% for tag in item.tags %}
							{% if tag.name %}
								<li>{{tag.name}}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				{% if item.label_text %}
				<div class="section">
					<p>{{item.label_text}}</p>
				</div>
				{% endif %}
			</div>
		</div>
		
		{% endfor %}
		
{% endblock %}