---
layout: default
---
<div class="post">

	<div style="width:33.33%; float:left;">
		<img src="{{ page.image }}">
	</div>   
	<div style="width:66.66%; float:left;">
			<!--title-->
		    {% if page.title %}
		    	{{ page.title }}
		    {% endif %}

			<!--date-->
		    {% if page.date %}
		    	{{ page.date }}
		    {% endif %}

			<!--medium-->	
		    {% if page.medium %}
		    	{{ page.medium }}
		    {% endif %}

			<!--participants-->	
		    {% if page.designer %}
		    	{{ page.designer }}
		    {% endif %}

		    {% if page.manufacturer %}
		    	{{ page.manufacturer }}
		    {% endif %}

			<!--creditline-->
		    {% if page.creditline %}
		    	{{ page.creditline }}
		    {% endif %}
	
			<!--creditline-->
		    {{ page.label_text }}
	</div>

</div>
