---
layout: default
---
<div class="post">

	<div style="width:33.33%; float:left;">
		<img src="{{ page.image }}">
	</div>   
	
	<div style="width:66.66%; float:left;">
		
		<div class="section">	
			<!--title-->
		    <h3>{% if page.title %}{{ page.title }}{% endif %}</h3>
			<!--date-->
		    <h3>{% if page.date %}{{ page.date }}{% endif %}</h3>
		</div>
		
		<div class="section">
			<ul class="info">
				<!--participants/designer-->	
			    {% if page.designer %}<li>{{ page.designer }}</li>{% endif %}
				<!--participants/manufacturer-->	
			    {% if page.manufacturer %}<li>{{ page.manufacturer }}</li>{% endif %}
				<!--medium-->	
			    {% if page.medium %}<li>{{ page.medium }}</li>{% endif %}
				<!--creditline-->
			    {% if page.creditline %}<li>{{ page.creditline }}</li>{% endif %}
			</ul>
		</div>

		{% if page.tags %}
		<div class="section">
			<!--tags-->
		    <ul class="tags">{% for tag in page.tags %}
			   <li>{{ tag.tag_name }}</li>
		    {% endfor %}</ul>
		</div>		
		{% endif %}

		{% if page.label_text %}		
		<div class="section">
			<!--label_text-->
		    <p>{{ page.label_text }}</p>
		</div>		
		{% endif %}
		
	</div>

</div>
